$body-bg: #1D2123;
$body-color: rgb(255, 255, 255);
$font-family-sans-serif: "Segoe UI";
$dark: #1A1E1F;
$warning: #FACD66;
$btn-close-focus-shadow: none;


@import "../node_modules/bootstrap/scss/bootstrap.scss"

